body {

  	background-color: #454e59;
  	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

img.report
{
    position: absolute;
    max-width: 100%;
    /*width: 75%; /*--uncomment this to adjust size if defaults don't give desired results--*/
    top: 10%;
    left: 10%;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.9);
}


img.report:empty
{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media screen and (orientation: portrait) {
  img.report { max-width: 100%; }
}

@media screen and (orientation: landscape) {
  img.report { max-height: 100%; }
}

img.bg
{
    position: absolute;
    max-width: 100%;
    top: 10%;
    left: 10%;
 
}


img.bg:empty
{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media screen and (orientation: portrait) {
  img.bg { max-width: 95%; }
}

@media screen and (orientation: landscape) {
  img.bg { max-height: 95%; }
}


.logo-box {
   width: 300px;
  height: 100px;

  position: fixed;
  bottom: 5px;
  left: 10px;
    z-index: 1010;


}

.logo-pos {
    position:absolute;
    bottom:0;
    left:0;
}

.logo-box img {
    width: 100%;
    height: auto;
    z-index: 1;
}

#footer {
    background-color: ##454e59;
    padding-top: 50px;
    padding-bottom: 0px; 
}



